[submodule "my_bank_backend"]
	path = my_bank_backend
	url = https://github.com/katekate7/my_bank_backend.git
[submodule "my_bank_frontend"]
	path = my_bank_frontend
	url = https://github.com/katekate7/my_bank_frontend.git
